@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';

@theme {
  --color-primary: #e74c3c;
  --color-secondary: #1e232b;
  --color-tertiary: #e5e5e5;
  --color-muted: #929292;
  --color-red: #ff0000;
}

body {
  -webkit-tap-highlight-color: transparent;
  font-family: 'Montserrat', serif;
  font-optical-sizing: auto;
  font-style: normal;
}

input {
  outline: none;
}

input[type='checkbox']:checked {
  background-color: #e74c3c;
}

input[type='checkbox']:checked:after {
  content: 'v';
  color: white;
  margin-top: -2px;
}

input[type='checkbox'] {
  appearance: none;
  border-radius: 20%;
  border: 1px solid #e74c3c;
}
