@import 'tailwindcss';

body {
  -webkit-tap-highlight-color: transparent;
  font-family: 'Nunito Sans', system-ui;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    'wdth' 100,
    'YTLC' 500;
}
